# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
**/dist
/tmp
/out-tsc
/bazel-out
/out
/bin
/obj

# Node
**/node_modules
jspm_packages/
bower_components/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
libpeerconnection.log

# Testing and Coverage
coverage/
.nyc_output
/coverage
testem.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Build and Cache
.grunt
.lock-wscript
build/Release
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
**/.angular/cache
.sass-cache/

# Misc
pids
*.pid
*.seed
*.pid.lock
lib-cov
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
/connect.lock

# Environment and Config
.env
.env.test
appsettings.json
local.settings.json

# Azure/Database
.dynamodb/
__blobstorage__
__queuestorage__
__azurite_db*__.json

# System files
.DS_Store
Thumbs.db
