<div class="container">
  <h2 class="heading-secondary">Work Recognition</h2>
  <ng-container *ngFor="let company of workRecognition">
    <h3 class="heading-tertiary">{{ company.description }}</h3>
    <ul class="list">
      <ng-container *ngFor="let recognition of company.recognition">
        <ng-container *ngIf="recognition.type === RecognitionType.Text">
          <li class="list-item">
            <p>
              {{ recognition.date }} &mdash; <span [innerHTML]="recognition.description"></span>
            </p>
          </li>
          <li class="list-item three-quarter-width" *ngIf="recognition.quote">
            <i class="fa-solid fa-quote-left list-icon-top"></i>
            <blockquote>{{ recognition.quote }}</blockquote>
            <i class="fa-solid fa-quote-right list-icon-top"></i>
          </li>
        </ng-container>
        <li class="list-item half-width" *ngIf="recognition.type === RecognitionType.Image">
          <div class="image-shadow">
            <img class="image" [src]="recognition.src" [alt]="recognition.alt" />
          </div>
        </li>
      </ng-container>
    </ul>
    </ng-container>
</div>
