<div class="container">
  <h2 class="heading-secondary">Work Recognition</h2>
  @for (company of workRecognition().companies; track company.company) {
    <h3 class="heading-tertiary">{{ company.description }}</h3>
    <ul class="list">
      @for (recognition of company.recognition; track $index) {
        @if (recognition.type === RecognitionType.Text) {
          <li class="list-item">
            <p>
              {{ recognition.date }} &mdash;
              <span [innerHTML]="recognition.description"></span>
            </p>
          </li>
          @if (recognition.quote) {
            <li class="list-item three-quarter-width">
              <i class="fa-solid fa-quote-left list-icon-top"></i>
              <blockquote>{{ recognition.quote }}</blockquote>
              <i class="fa-solid fa-quote-right list-icon-top"></i>
            </li>
          }
        }
        @if (recognition.type === RecognitionType.Image) {
          <li class="list-item half-width">
            <div class="image-shadow">
              <img
                class="image"
                [src]="recognition.src"
                [alt]="recognition.alt"
                loading="lazy" />
            </div>
          </li>
        }
      }
    </ul>
  }
</div>
