<section class="achievements" id="achievements">
  <section class="education" id="education">
    <app-education [education]="achievements.education"></app-education>
  </section>
  <section class="certificaitions light-bg" id="certifications">
    <app-certifications [certifications]="achievements.certifications"></app-certifications>
  </section>
  <section class="work-recognition" id="work-recognition">
    <app-work-recognition [workRecognition]="achievements.workRecognition"></app-work-recognition>
  </section>
</section>
