:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav {
  background-color: var(--color-surface);
  box-shadow: 0 5px 5px var(--color-surface-shadow);
}

.nav-container {
  align-items: center;
  display: flex;
  gap: 5rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4.8rem;
  position: relative;
  margin: 0 auto;
  max-width: 150rem;
}

.nav-image {
  height: 5rem;
  width: auto;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  margin: 3.2rem 0;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  margin: 1.7rem 0;
}

.icon-mobile-nav {
  color: var(--color-heading);
  font-size: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

@media (max-width: 68em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    align-items: center;
    background-color: var(--color-nav-overlay);
    box-shadow: 0 5px 5px var(--color-nav-overlay);
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(0);
    transition: all 0.5s ease-in;
    visibility: hidden;
    width: 100%;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(1rem);
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3.8rem;
    padding: 3.2rem 0;
    font-size: 200%;
  }
}
