<div class="container">
  <h2 class="heading-secondary">Education</h2>
  <h3 class="heading-tertiary">Degrees</h3>
  <ul class="list">
    <li class="list-item u-flex-col" *ngFor="let degree of education.degrees">
      <p>
        <strong>{{ degree.institution }}</strong
        ><br />
        {{ degree.degree
        }}<span *ngIf="degree.honors"
          >, <em>{{ degree.honors }}</em></span
        ><br />
        <small *ngIf="degree.details"> {{ degree.details }}<br /> </small>
        <small
          >(<em
            >graduated {{ degree.graduationYear }},
            {{ degree.gpa | number : '1.1' }} GPA</em
          >)</small
        >
      </p>
    </li>
  </ul>
  <h4 class="heading-tertiary u-margin-top-sm">Honors</h4>
  <ul class="list">
    <li class="list-item">
      <p>
        <strong>{{ education.honors.societies.title }}</strong> &mdash;
        <span [innerHTML]="education.honors.societies.description"></span>
      </p>
    </li>
    <li class="list-item" *ngFor="let honor of education.honors.lists.list">
      <p>
        <strong>{{ honor.title }}</strong> &mdash; {{ honor.description }}
        <br />
        <small>
          <em>{{ honor.details }}</em>
        </small>
      </p>
    </li>
    <li class="list-item">
      <p [innerHTML]="education.honors.lists.link.description"></p>
    </li>
  </ul>
</div>
