<h1 class="container loading" *ngIf="isLoading">Loading</h1>
<h1 class="container loading-error" *ngIf="error">{{ error }}</h1>
<ng-container *ngIf="!isLoading && !error && home">
  <header class="light-bg">
    <div class="heading-container">
      <h1 class="heading-primary">{{ home.title }}</h1>
    </div>
  </header>
  <section class="about" id="about">
    <div class="container">
      <h2 class="heading-secondary">Background</h2>
      <p [innerHTML]="home.content"></p>
    </div>
  </section>
</ng-container>
